body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: darkgray;
}

.container{
    width: 100%;
    min-width: 100vh;
    padding: 10px;
}

.todo-app{
    /*  */
    animation: fadeInFromAboveAndBounce 0.7s ease-out;


    /* css från tidigare */
    width: 100%;
    max-width: 440px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 40px;
    border-radius: 10px;
}



.todo-app h1{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

input{
    border-radius: 8px;
    padding: 5px;
    font-weight: 14px   
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    background-image: url(Images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 20px;
}

ul li.checked {
    text-decoration: line-through;
    color: gray;
}
ul li.checked::before{
    background-image: url(Images/checked.png);
}

button{
    size: 200px;
    cursor: pointer;  

}

img{
    height: 35px;
    width: 35px;
    cursor: pointer;
    border-radius: 8px; 
}

.row{
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    color: rgb(255, 0, 0);
}

#Counter-Results{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 7px;
    height: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

li {
    animation: fadeInFromBelow 0.4s ease-in-out;
    transition: color 0.3s ease;
    
}

#Errormessage {
    margin-left: 20px;
    display: none;
    color: red;
    opacity: 0;
    animation: fadeIn 0.5s ease-in;
}

/* FadeIn för LI */
@keyframes fadeInFromBelow {
from {
    opacity: 0;
    transform: translateY(5px); 
}
to {
    opacity: 1;
    transform: translateY(0);
}
}
/* FadeIn för "hela" sidan */
@keyframes fadeInFromAboveAndBounce {
0% {
    opacity: 0;
    transform: translateY(-400px); 
}
60% {
    opacity: 1;
    transform: translateY(50px); 
}
100% {
    transform: translateY(0); 
}
}

/* Fadein för "errorMessage" */
@keyframes fadeIn {
    0% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
        display: block;
    }
}

